{{!-- <p>Contacts</p>
{{#if isShow}}
<ul>
    {{#each contacts}}
        <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}} --}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center mb-4">Random Unrelated Contacts</h1>

         <ul class="list-group">
            {{#each contacts}}
                <li class="list-group-item">{{adress}}</li>
            {{/each}}
        </ul>
    </div>
        
   
    </div>

</body>
</html>
